.cart-footer {
    background-color: #F6F6F6;
    padding-block: 0;
    &--discounts-wrapper {
        padding-top: 30px;
        padding-block-end: 50px;
        .title {
            font-family: Causten-SemiBold;
            font-size: 24px;
            color: var(--color-text-title);
            line-height: normal;
            letter-spacing: 0;
            margin-bottom: 10px;
        }
        .text {
            font-family: Causten;
            font-size: 16px;
            color: var(--color-text);
        }
        .discount-form {
            margin-top: 41px;
            .field-wrapper {
                input[type='text'] {
                    border: 1px solid #BEBCBD;
                    height: auto;
                    border-top-left-radius: 12px;
                    border-bottom-left-radius: 12px;
                    width: 214px;
                }
                .button {
                    border-top-right-radius: 12px;
                    border-bottom-right-radius: 12px;
                    font-size: 16px;
                    min-height: auto;
                    padding-block: 12px;
                    padding-inline: 31px;
                    min-width: auto;
                    line-height: 1;
                    letter-spacing: 0;
                }
            }
        }
        .continue-button {
            margin-top: 37px;
            min-height: auto;
            font-size: 16px;
            padding-block: 12px;
            padding-inline: 49.5px;
        }
    }
    &--total-wrapper {
        padding-block-start: 40px;
        padding-block-end: 50px;
        background-color: #F3F3F3;
        .cart-total-details {
            span {
                font-family: Causten-Medium;
                font-size: 22px;
                color: var(--color-text-title);
                line-height: normal;
                letter-spacing: 0.2px;
            }
            .total-wrapper {
                span {
                    font-family: Causten-Bold;
                }
            }
        }
        .seperator {
            border-top-color: #BEBCBD;
        }
        .checkout-btn-wrapper {
            .button {
                min-height: auto;
                padding-block: 12px;
                padding-inline: 33px;
                font-family: Causten-SemiBold;
                font-size: 18px;
                line-height: normal;
                letter-spacing: 0;
            }
        }
    }
}