.section-banner {
    .banner-wrapper {

        position: relative;
        transition: scale ease-in-out 0.3s;
        .content-wrapper {
            top: 50%;
            transform: translateY(-50%);
            left: 5%;

            .pre-heading {
                font-family: Montserrat;
                font-weight: 800;
            }

            .sub-heading {
                font-family: Core-Sans-C-Medium;
                font-size: 16;
            }

            .heading {
                font-size: 34px;
                font-family: Core-Sans-C-EBold;
                min-height: 91px;
            }

            .link {
                font-family: Core-Sans-C-EBold;
                font-size: 20px;
            }
        }
        &:hover {
            scale: 1.0125;
        }
    }
}