.section-featured-collection {
    .cards-wrapper {
        .image-wrapper {
            .wishlist-wrapper {
                top: 26px;
                right: 20px;
                z-index: 1;
                .wishlist {
                    display: inline-flex;
                    width: 32px;
                    height: 32px;
                    border-radius: 50px;
                    background-color: var(--color-body);
                    justify-content: center;
                    align-items: center;
                }
            }
        }
        .content-wrapper {
            .title {
                font-family: Causten-SemiBold;
                font-size: 16px;
                line-height: 1.2;
                letter-spacing: 0;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 166px;
            }

            .price {
                background-color: var(--color-field-background);
                font-family: Causten-Bold;
                font-size: 14px;
            }
        }
    }
}