@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-text-regular: #333;
  --color-body: #ffffff;
  --color-button: #8a33fd;
  --color-disabled: #eaeaea;
  --color-text: #807d7e;
  --color-text-title: #3c4242;
  --color-field-background: #f6f6f6;
  font-family: "Causten";
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-text-regular);
  background-color: var(--color-body);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1440px
}

a {
  font-weight: 500;
  color: var(--color-text);
  text-decoration: inherit;
  transition: color 550ms cubic-bezier(0.19, 1, 0.22, 1);

  &:hover {
    color: var(--color-text-title);
  }
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#main {
  margin: 0 auto;
  text-align: center;
}

.logo {
  will-change: filter;
  transition: filter 300ms;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

input {
  width: 267px;
  height: 44px;
  background: var(--color-body);
}

button, .button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 24px;
  font-weight: 500;
  font-family: 'Causten-Bold';
  cursor: pointer;
  transition: border-color 0.25s linear, color 0.24s linear;
  display: inline-flex;
  width: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;

  &.button--primary {
    color: var(--color-text-title);
    min-width: 250px;
    border: 1px solid transparent;
    min-height: 61px;
    background-color: var(--color-body);
    position: relative;
    overflow: hidden;

    &:after {
      background-color: var(--color-button);
      content: "";
      height: 155px;
      left: -75px;
      opacity: .2;
      position: absolute;
      top: -50px;
      transform: rotate(35deg);
      transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
      width: 50px;
      z-index: 2;
    }

    &:hover {
      border-color: var(--color-button);
      color: var(--color-button);
      &:after {
        left: 120%;
        transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
      }
    }
    &.color--purple {
      background-color: var(--color-button);
      color: var(--color-body);
      &:hover {
        &::after {
          background-color: var(--color-body);
        }
      }
    }
    &.button-small {
      font-size: 18px;
      line-height: 1.2;
      font-family: Causten-SemiBold;
      min-width: auto;
      min-height: auto;
      padding-inline: 44px;
      padding-block: 12px;
    }
  }

  &.button--secondary {
   overflow: hidden;
   background: transparent;
   border: 1px solid currentColor;
   border-radius: 4px;
   padding-inline: 25px;
   padding-block: 10px;
   color: inherit;
   font-family: Causten-Medium;
   font-size: 12px;
   min-width: 110px;
  position: relative;
  
   &:after {
     background-color: #fff;
     content: "";
     height: 155px;
     left: -75px;
     opacity: .2;
     position: absolute;
     top: -50px;
     transform: rotate(35deg);
     transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
     width: 50px;
     z-index: -10;
   }

   &:hover {
    filter: invert(1);
    &:after {
      left: 120%;
      transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    }
   }
  }
}

button:focus ,button:focus,
button:focus-visible, .button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.section-padding {
  padding-inline: 104px;
  padding-block: 50px;

  @media not all and (min-width: 1280px) {
    padding-inline: 80px;
    padding-block: 60px
  }

  @media not all and (min-width: 1024px) {
    padding-inline: 60px;
    padding-block: 40px
  }
  
  @media not all and (min-width: 768px) {
    padding-inline: 25px;
    padding-block: 30px
  }
}

.section-title {
  font-size: 34px;
  font-family: Core-Sans-C-Bold;
  position: relative;
  line-height: 31px;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    height: 100%;
    display: block;
    border-inline: 3px solid var(--color-button);
    border-radius: 50px;
  }
}

.text-bold {
  font-weight: bold;
}
/* @media (prefers-color-scheme: light) {
  :root {
    color: #fff;
    background-color: #333;
  }
  a:hover {
    color: #747bff;
  }
  button, .button {
    background-color: #f9f9f9;
  }
} */
